[Unit]
Description=room occupation detector
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/moth
ExecStart=/usr/bin/python3 main.py quiet

[Install]
WantedBy=multi-user.target
Alias=moth.service

